/* ============
   COLOR SYSTEM
   ============ */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* дає коректну підтримку dark/light у браузерах */
html {
  color-scheme: light dark;
}

/* ============
   BASE GLOBAL
   ============ */

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--background);
  color: var(--foreground);
  --font-main: var(--font-dm-sans);
  --font-title: var(--font-playfair);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============
   RESET
   ============ */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  display: inline-flex; /* DevTools fix */
}

/* Lists */
:where(ul, ol)[class] {
  padding-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

/* Typography resets */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl)[class] {
  margin-block: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-title), serif;
  line-height: 1.2;
  color: #1d1b1a;
}

:where(address[class]) {
  font-style: normal;
}

/* Paragraph global margin only when needed */
p:not([class]):not(:last-child) {
  margin-bottom: 24px;
}

/* Images / Video */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Forms */
input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* SVG normalize */
:where([fill]:not([fill="none"], [fill^="url"])) {
  fill: currentColor;
}

:where([stroke]:not([stroke="none"], [stroke^="url"])) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/* Tables */
table {
  border-collapse: collapse;
  border-color: currentColor;
}

/* Reduced Motion (accessibility) */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-------------Анімації появи при скролі (fade-in on scroll)----------------*/
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.9s ease,
    transform 0.9s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/*
Фонові космічні:
#1D1B33  — темний фіолетовий (твій фон контейнера)
#0D0C1C  — глибокий космос

Туманності:
#C878FF  — теплий фіолет (є в коді)
#7850FF  — прохолодний фіолет
#FF50C8  — неон рожевий
#96A0FF  — блакитно-фіолетовий

Текст:
#FFFFFF  — основний білий
#E3E0FF  — вторинний текст (ти використовуєш)

Акценти:
#D9B8FF  
#FFD6F7  
#AFA2D6  */
